@import '../config';

section.entry-articles {
    height: calc(100vh - $navHeight);
    @include Flex(sb, c);
    padding: 1em 4em;
    position: relative;

    span.abs {
        @include Absolute(50%, 50%);
        translate: -50% -50%;
        @include Rectangle(65%);
        z-index: -1;
        color: #2d2d2d;
    }

    section.main {
        height: 90%;

        p.header {
            text-transform: uppercase;
            font-weight: 400;
            font-size: 1.1rem;
            margin-bottom: 1.5em;
            color: $clr-grey;
            border-left: 2px solid royalblue;
            padding-left: .5em;
        }
    }

    section.popular {
        width: 55%;
        @include Flex(none, none, c);

        section.container {
            flex-basis: 0;
            flex-grow: 1;
            overflow: hidden;
            position: relative;

            div.buttons {
                position: absolute;
                left: 0;
                bottom: 0;
                z-index: 2;
                @include Flex(c, c);
                width: 100%;
                padding: 1em 0;

                span {
                    @include Rectangle(18px);
                    margin: 0 .25em;
                    border-radius: 50%;
                    background: $clr-white;
                    cursor: pointer;
                    border: 2px solid $clr-black;

                    &.active {
                        background: $clr-bluel;
                    }
                }
            }

            div.moving {
                @include FullSize;
                display: flex;
                transition: .5s;

                article.popular {
                    flex-shrink: 0;
                    @include FullSize;
                    position: relative;
                    cursor: pointer;

                    div.text {
                        position: relative;
                        z-index: 3;
                        padding: 2em;
                        
                        p {
                            &.title {
                                font-weight: 700;
                                @include Clamp(2.25, 7, 3.5);
                                margin-bottom: .5em;
                                text-shadow: 0 0 4px $clr-black;
                            }

                            &.text {
                                @include Clamp(1, 4, 1.5);
                                font-weight: 600;
                                text-shadow: 0 0 3px $clr-black;
                            }
                        }
                    }

                    figure {
                        @include FullSize;
                        position: absolute;
                        left: 0;
                        top: 0;
    
                        img {
                            @include FullSize;
                            object-fit: cover;
                            transition: 1s;
                        }
                    }

                    &:hover {
                        img { scale: 1.05; }
                    }
                }
            }
        }
    }

    section.latest {
        width: 40%;
        display: flex;
        flex-direction: column;

        section.container {
            flex-basis: 0;
            flex-grow: 1;
            @include Flex(sa, none, c);
        }
        
        article.latest {
            width: 100%;
            display: flex;
            cursor: pointer;

            div.text {
                width: 70%;
                padding: 0 0 .25em .5em;
                @include Flex(sb, none, c);

                p.text {
                    font-weight: 700;
                    font-size: 1.5rem;
                    margin-bottom: .25em;
                }

                div.misc {
                    @include Flex(sb, c);

                    p {
                        font-size: 1rem;
                        color: $clr-grey;
                        font-family: 'Inconsolata', monospace;
                    }
                }
            }

            figure {
                width: 30%;
                height: max-content;
                aspect-ratio: 1.5;
                overflow: hidden;
                flex-shrink: 0;

                img {
                    @include FullSize;
                    object-fit: cover;
                    transition: 1s;
                }
            }

            &:hover {
                img { scale: 1.05; }
            }
        }
    }

    @media (max-width: 1000px) {
        height: auto;
        padding: 2em 1em;
        flex-direction: column;

        span.abs { display: none; }

        section.main { height: auto; }

        section.latest {
            width: 100%;
            margin-top: 2em;

            article.latest {
                &:not(:last-child) { margin-bottom: 3em; }
            }
        }

        section.popular {
            width: 100%;
            aspect-ratio: 1.25;
            min-height: 500px;
        }
    }

    @media (max-width: 480px) {
        section.latest {
            article.latest {
                flex-direction: column;

                figure {
                    height: auto;
                    width: 100%;
                    aspect-ratio: 2;
                    margin-bottom: .5em;
                }

                div.text {
                    width: 100%;

                    p.text {
                        margin-bottom: 1em;
                    }
                }
            }
        }
    }
}