@import '../config';

main.article-page {
    aside.article-aside {
        border-radius: .2em;
        width: 25%;
        height: calc(90vh - $navHeight);
        position: sticky;
        top: calc(20vh - $navHeight);
        @include Flex(sb, none, c);

        section.misc-info {
            @include Flex(sa, fe);

            div.icon {
                @include Flex(none, c, c);
                font-weight: 700;
                font-size: 1.1rem;

                span {
                    margin-bottom: .25em;
                }

                &.likes {
                    cursor: pointer;
                    
                    span { @include Rectangle(45px); pointer-events: none; }

                    p { font-weight: 700; pointer-events: none; }

                    &.true {
                        span { color: greenyellow; }
                    }
                }

                &.date span { @include Rectangle(40px) }
            }
        }
        
        ul {
            list-style: none;
            @include Center(90%);

            li {
                &.disabled {
                    margin-bottom: 1em;
                    text-transform: uppercase;
                    font-weight: 800;
                    font-size: 1rem;
                }

                &:not(.disabled) {
                    color: $clr-grey;
                    font-family: 'Inconsolata', monospace;
                    font-size: 1.2rem;
                    cursor: pointer;
                    transition: .3s;

                    &:not(:last-child) {
                        margin-bottom: .75em;
                    }

                    &:hover { color: $clr-bluel; }
                }
            }
        }

        @media (max-width: 1000px) {
            width: 100%;
            height: auto;
            position: sticky;
            @include Flex(none, none, cr);
            margin-bottom: 5em;
            padding-bottom: 5em;
            border-bottom: 2px solid $clr-grey;

            section.misc-info {
                margin-bottom: 4em;
            }
        }
    }
}