@import '../config';

section.final-section {
    width: 70%;

    p.entry-header {
        font-weight: 700;
        @include Clamp(1, 5, 1.25);
        margin-bottom: 2em;
        letter-spacing: 1px;
        @include Flex(sb, c);

        span {
            @include Rectangle(30px);
            rotate: 180deg;
            cursor: pointer;
            transition: .3s;
        }
    }

    div.comm-sect { transition: .3s; }

    section.article-container {
        display: flex;
        flex-direction: column;
        align-items: stretch;

        article.art {
            @include Flex(sb);
            align-items: stretch;
            width: 100%;
            margin-bottom: 5em;   

            div.wrap-text {
                @include Flex(sb, none, c);
                width: 72%;
            }
    
            p {
                &.category {
                    color: $clr-grey;
                    font-family: 'Inconsolata', monospace;
                    font-weight: 500;
                    font-size: 1.25rem;
                }
    
                &.title {
                    @include Clamp(1.25, 6, 1.75);
                    font-weight: 700;
                }
    
                &.text {
                    font-family: 'Inconsolata', monospace;
                    @include Clamp(.9, 5, 1.1);
                    margin: .5em 0;
                    color: $clr-grey;
                }       
            }
    
            figure {
                width: 25%;
                aspect-ratio: 1.75;
                height: max-content;
                flex-shrink: 0;
    
                img {
                    @include FullSize;
                    object-fit: cover;
                }
            }
    
            div.rate-and-date {
                @include Flex(sb, fe);
                margin-top: .5em;
    
                p {
                    font-weight: 600;
    
                    &.rating {
                        @include Flex(none, c);
                        span { @include Rectangle(25px); margin-right: .25em; }
                    }
                }
            }
        }
    }

    section.comments-container {
        border-bottom: 2px solid $clr-grey;
        margin-bottom: 5em;
        padding-bottom: 2em;

        article.one-comment {
            &:not(:last-child) { margin-bottom: 5em; }
            &:last-child { margin-bottom: 3.5em; }

            section.author-info {
                @include Flex(none);

                figure {
                    width: 7%;
                    height: max-content;
                    min-width: 50px;
                    aspect-ratio: 1;
                    overflow: hidden;
                    border-radius: .25em;

                    img {
                        @include FullSize;
                        object-fit: cover;
                    }
                }

                div.text {
                    margin-left: 1em;

                    p {
                        &.date {
                            color: $clr-grey;
                            font-size: 1rem;
                        }
                        
                        &.name {
                            font-size: 1.2rem;
                            margin-bottom: .25em;
                        }
                    }
                }
            }

            p.text {
                font-weight: 500;
                width: calc(93% - 1em);
                margin: 1em 0 0 auto;

                @media (max-width: 768px) {
                    width: 100%;
                }
            }
        }
    }

    @media (max-width: 1000px) {
        width: 100%;
    }
}