@import '../config';

main.contact-page {
    height: calc(100vh - $navHeight);
    @include Flex(sa, c);

    section.tiles {
        width: 35%;
        min-width: 500px;
        @include Flex(c, c);
        align-items: stretch;
        flex-wrap: wrap;

        div.tile {
            @include Flex(c, c, c);
            width: 45%;
            aspect-ratio: 1;
            border: 2px solid #252525;
            box-shadow: 0 0 8px black;
            margin: .5em;
            padding: 1.5em;
            border-radius: .25em;

            p {
                text-align: center;

                &.header {
                    font-size: 1.5rem;
                    font-size: 1.75vmax;
                    margin-bottom: .25em;
                    font-weight: 600;
                    font-size: min(2.5vw, 1.5rem);
                    @include Clamp(1.2, 3, 1.5)


                }

                &.text {
                    color: $clr-grey;
                    font-size: min(2vw, 1.05rem);
                    font-size: 1.75vmin;
                    @include Clamp(.95, 2, 1.05)
                }
            }

            div {
                width: 50%;
                @include Flex(c, c);
                color: $clr-bluel;

                span { 
                    display: block;
                    @include FullSize(80%); 
                }
            }
        }
    }

    form {
        width: 35%;
        
        input,
        textarea {
            width: 100%;
            border-radius: .2em;
            outline: 0;
            border: 0;
            background: #252525;
            padding: 1.25em 1.5em;
            color: $clr-white;
            font-size: 1rem;
        }

        textarea {
            min-height: 200px;
        }

        div.input-div {
            margin-bottom: 2.5em;
            position: relative;

            label {
                translate: 0 -50%;
                position: absolute;
                left: 1.5em;
                top: 50%;
                color: $clr-grey;
                opacity: .7;
                pointer-events: none;
                transition: .3s;
            }
        }

        button {
            margin-top: 2.5em;
            display: block;
            background: royalblue;
            border-radius: .25em;
            border: 0;
            cursor: pointer;
            transition: .3s;
            outline: 0;
            padding: 1.25em 0;
            width: 100%;

            label {
                font-size: 1.1rem;
                font-weight: 500;
                color: $clr-white;
            }

            &:hover { background: darken(royalblue, 8%); }
        }
    }

    @media (max-width: 1000px) {
        height: auto;
        padding: 2em;
        flex-direction: column;

        form {
            width: 100%;
            margin-top: 2em;
        }
    }

    @media (max-width: 768px) {
        section.tiles {
            width: 100%;
            min-width: auto;
        }
    }

    @media (max-width: 480px) {
        padding: 2em .75em;

        section.tiles {
            flex-direction: column;

            div.tile {
                width: 100%;
                aspect-ratio: auto;
                margin: .5em 0;

                div {
                    span {
                        @include Rectangle(50px)
                    }
                }
            }
        }
    }
}