// font-family: 'Inconsolata', monospace;
// font-family: 'Open Sans', sans-serif;

@import './config';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-weight: 400;
    font-family: 'Open Sans', sans-serif;
}

div.App { overflow-x: hidden; } 

body {
    min-height: 100vh;
    width: 100vw;
    background: #303030;
    color: $clr-white;
    overflow-x: hidden;
    scroll-behavior: smooth;

    svg { pointer-events: none; @include FullSize; }

    &::-webkit-scrollbar {
        width: 6px;
        background: $clr-black;
    }   

    &::-webkit-scrollbar-thumb {
        width: 100%;
        border-radius: 1em;
        background: royalblue;
    }
}