@import '../config';

main.logreg {
    height: calc(100vh - $navHeight);
    @include Flex(c, c);

    article.left,
    section.right {
        height: 85%;
        position: relative;
    }

    form {
        position: relative;
        width: 90%;
        max-width: 600px;

        h6 {
            position: absolute;
            left: 50%;
            translate: -50% 0;
            top: 102%;
            font-weight: 500;
            width: 95%;
            text-align: center;
            font-size: 1rem;
            
            &.false {
                color: red;
            }

            &.true {
                color: $clr-bluel;
            }
        }
    }

    article.left {
        width: 35%;
        padding: 2em;
        background: #252525;
        border-radius: .25em 0 0 .25em;
    }

    section.right {
        background: #373737;
        width: 50%;
        padding: 4em 2em;
        border-radius: 0 .25em .25em 0;

        p.redirect-para {
            font-size: 1.2rem;

            a {
                text-decoration: none;
                color: cornflowerblue;
                transition: .3s;

                &:hover { color: royalblue; }
            }
        }

        h2 {
            font-weight: 500;
            font-size: 2.25rem;
            letter-spacing: 2px;
        }

        button {
            width: 100%;
            padding: 1.25em 0;
            background: royalblue;
            cursor: pointer;
            transition: .3s;
            margin-top: 1em;
            outline: 0;
            border: 0;
            border-radius: .5em;

            label {
                color: $clr-white;
                font-size: 1.1rem;
            }

            &:hover { background: darken(royalblue, 5%); }
        }

        div.input-div {
            &.small { width: 48%; }
            &:not(.small) { width: 100%; }

            &:not(:last-child) { margin-bottom: .5em; }

            label {
                font-weight: 500;
                margin-bottom: .1em;
                display: block;
            }

            div.input-wrap {
                position: relative;

                div.password-toggler {
                    position: absolute;
                    right: 15px;
                    top: 50%;
                    translate: 0 -50%;
                    cursor: pointer;

                    span { pointer-events: none; }

                    span.line {
                        @include Absolute(50%, 50%);
                        width: 125%;
                        height: 3px;
                        translate: -50% -50%;
                        background: $clr-white;
                        rotate: 145deg
                    }

                    span.icon {
                        @include Rectangle(30px);
                    }
                }

                input {
                    width: 100%;
                    padding: clamp(.25em, 4vw, 1em) 1em;
                    padding-right: 50px;
                    border-radius: .25em;
                    border: 0;
                    outline: 0;
                    background: #606060;
                    color: $clr-white;
                    font-size: 1.1rem;
                }
            }
        }

        div.raf {
            @include Flex(sb, c);
            margin-top: .5em;
            color: $clr-white;

            a {
                color: $clr-white;
                text-decoration: none;
                transition: .3s;

                &:hover { color: royalblue; }
            }

            div {
                @include Flex(none, c);

                label,
                input { cursor: pointer; }

                label {
                    margin-right: .5em;
                }
            }
        }
    }

    @media (max-width: 1000px) {
        flex-direction: column-reverse;
        height: auto;
        padding: 2em clamp(0em, 3vw, 2em);

        form {
            width: 100%;
            max-width: auto;
        }

        article.left,
        section.right { width: 100%; }

        article.left {
            margin-top: 2em;
        }
    }

    @media (max-width: 480px) {
        article.left {
            padding: 2em 1em;
        }
        
        section.right { 
            padding: 1em .75em 2em .75em;

            div.input-div {
                &.small { width: 100%; }
            }

            button {
                margin: 2em 0 1em 0;
            }

            h2 {
                margin-bottom: 1em;
            }
        }
    }
}