@import '../config';

main.search-page {
    min-height: calc(100vh - $navHeight);
    padding: 2em;

    div.searchbar {
        @include Center(50%);    
        min-width: 400px;    
        position: relative;
        margin-bottom: 2em;

        input {
            width: 100%;
            padding: 1.25em;
            outline: 0;
            border-radius: .1em;
            background: #252525;
            border: 2px solid #353535;
            font-size: 1.05rem;
            font-weight: 600;
            color: $clr-white;
        }

        span {
            @include HeightRatio(55%);
            position: absolute;
            background: #252525;
            right: 1.25em;
            top: 50%;
            transform: translateY(-50%);
        }
    }

    div.empty {
        figure {
            width: 30vw;
            min-width: 250px;

            img {
                width: 100%;
            }
        }

        p {
            font-weight: 700;
            font-family: 'Inconsolata', monospace;
            @include Clamp(1.75, 5, 2.25);
            color: $clr-grey;
            margin-bottom: 1.5em;
            text-align: center;
        }
    }

    h1 {
        font-weight: 800;
        margin-bottom: 2em;
        font-size: 2rem;    
    }

    section.container {
        @include Flex(sa);
        flex-wrap: wrap;

        article {
            flex-shrink: 0;
            width: 30%;
            max-width: 500px;
            min-width: 425px;
            position: relative;
            margin: 1em;
            margin-bottom: 5em;
            cursor: pointer;
            @include Flex(sb, none, c);

            p {
                &.header {
                    font-weight: 800;
                    font-size: 2.1rem;
                    margin-bottom: .5em;
                }

                &.category {
                    position: absolute;
                    right: 4px;
                    top: 4px;
                    background: $clr-blued;
                    box-shadow: 0 0 2px $clr-black;
                    padding: .75em 1em;
                    font-weight: 600;
                    border-radius: .2em;
                }

                &.date,
                &.rating {
                    text-align: right;
                    color: $clr-grey;
                    font-weight: 500;
                    font-size: 1.1rem;
                }
            }

            div.image-container {
                position: relative;

                div.tags {
                    position: absolute;
                    bottom: 4px;
                    right: 4px;
                    display: flex;

                    span {
                        margin-left: .5em;
                        background: $clr-blued;
                        border-radius: .5em;
                        padding: .5em;
                        font-weight: 600;
                    }
                }
            }

            div.rate-and-date {
                @include Flex(sb, c);
                margin-top: 2.5em;

                p.rating {
                    @include Flex(none, c);
                    font-size: 1.2rem;

                    span {
                        @include Rectangle(30px);
                        margin-right: .5em;
                    }
                }
            }

            figure {
                width: 100%;
                aspect-ratio: 1.5;
                margin-bottom: .5em;
                overflow: hidden;

                img {
                    @include FullSize;
                    object-fit: cover;
                    transition: 1s;
                }
            }

            &:hover img { scale: 1.05 }
        }
    }
    
    @media (max-width: 480px) {
        padding: 2em .5em;

        div.searchbar {
            min-width: auto;
            max-width: 100%;
            width: 100%;
        }

        section.container {
            article {
                max-width: 100%;
                min-width: auto;
                width: 100%;

                div.image-container {
                    div.tags { display: none; }
                }
            }
        }
    }
}