@import '../config';

nav.layout-navigation {
    @include Flex(sb, c);
    height: $navHeight;
    padding: 0 2em;
    background: #292929;
    position: sticky;
    top: 0;
    z-index: 99;

    div {
        min-width: max-content;

        &.wrap {
            display: flex;

            div.logo {
                @include Flex(none, c);
                
                p {
                    font-family: 'Inconsolata', monospace;
                    font-size: 1.25rem;
                    font-weight: 800;
                    letter-spacing: 3px;
                    cursor: pointer;
                }
                
                span {
                    margin-right: .5em;
                    cursor: pointer;
                    @include Rectangle(25px);
                }
            }

            ul {
                display: flex;
                list-style: none;
                margin-left: 5em;

                li {
                    &:not(:last-child) { margin-right: 1.5em; }
                    transition: .3s;
                    cursor: pointer;

                    &:hover {
                        color: $clr-bluel;
                    }
                }
            }
        }

        &.options {
            button {
                padding: .75em 2em;
                outline: 0;
                border: 0;
                transition: .3s;
                cursor: pointer;
                border-radius: .25em;
                border: 1px solid royalblue;

                &.signin {
                    background: royalblue;
                    color: $clr-white;

                    &:hover { 
                        background: darken(royalblue, 10%); 
                        border-color: darken(royalblue, 10%);
                    }
                }

                &.joinus {
                    margin-left: 1em;
                    color: royalblue;
                    background: none;

                    &:hover {
                        border-color: transparent;
                        color: rgb(225, 225, 225);
                    }
                }

                label {
                    font-weight: 400;
                    font-size: .95rem;
                }
            }
        }
    }
}